:root {
  --bg: #000;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --green: #a6e3a1;
  --font: "Source Code Pro", "Fira Code", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  cursor: crosshair;
}

h1 {
  font-size: 3rem;
  color: var(--text);
  margin-bottom: 0.5rem;
  font-weight: 900;
}

.tagline {
  font-size: 1rem;
  color: var(--subtext0);
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
  font-weight: 300;
}

.quick-links {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.quick-links a {
  color: var(--subtext0);
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  font-weight: 600;
}

.quick-links a:hover {
  color: var(--text);
  border-color: var(--text);
}

.card {
  padding: 3rem 5rem;
  border-radius: 5px;
  border: 1px solid rgb(205, 214, 244);
  /*background: rgba(0, 0, 0, 0);*/
  backdrop-filter: blur(2.5px);
  transition: all ease;

  transform-style: preserve-3d;
}

::selection {
  background: var(--text);
  color: var(--bg);
}

/* txt glitch */
.glitch {
  position: relative;
  color: var(--subtext0);
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--subtext0);
  background: transparent;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.glitch::before {
  text-shadow: 2px 0 #000;
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

.glitch::after {
  text-shadow: -2px 0 #cdd6f4;
  animation: glitch-anim-2 2s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(-1px, -1px);
  }
  10% {
    clip: rect(10px, 9999px, 50px, 0);
    transform: translate(1px, 1px);
  }
  20% {
    clip: rect(85px, 9999px, 90px, 0);
    transform: translate(-1px, 0);
  }
  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(1px, 1px);
  }
  10% {
    clip: rect(30px, 9999px, 60px, 0);
    transform: translate(-1px, -1px);
  }
  20% {
    clip: rect(70px, 9999px, 100px, 0);
    transform: translate(1px, 0);
  }
  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
}

.notice {
  font-size: 0.85rem;
  color: var(--subtext1);
  background-color: rgba(255, 0, 0, 0.1); /* light orange warning feel */
  border: 1px dashed var(--subtext1);
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  display: inline-block;
  margin-top: 1rem;
  font-family: var(--font);
}

