@import "tailwindcss";
@import "./fonts.css";

html {
  background-color: var(--color-zinc-950); 
}

body {
  font-family: 'GeistMono', monospace;
  overflow: hidden;
}

::selection {
  background-color: var(--color-lime-200);
  color: var(--color-zinc-950);
}

.blob {
  opacity: 0.1;
  transform: scale(0.5);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.blob-loaded {
  opacity: 1;
  transform: scale(1);
}