---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="flex flex-col items-center text-center w-full">

    <!-- Hero -->
    <div class="flex flex-col items-center justify-center p-8 space-y-6 w-full max-w-4xl scale-[1.5]">
      <div class="text-center">
        <h1 class="text-zinc-200 text-4xl font-bold font-geist">Hi, I'm Kye</h1>
        <h2 class="text-zinc-400 text-sm mt-2 hover:text-lime-300">Cyber Security Student</h2>
      </div>

      <!-- About -->
      <section class="text-center text-zinc-300 space-y-4 max-w-2xl">
        <p>
          I'm a <span class="font-semibold text-zinc">Cyber Security student at Griffith University</span> and a former<br />
          <span class="font-semibold text-zinc">Electronic Warfare Operator</span> in the Royal Australian Navy.
        </p>
        <p>
          Passionate about <span class="text-indigo-400 font-semibold">malware analysis</span>, 
          <span class="text-purple-400 font-semibold">reverse engineering</span>,<br />
          and <span class="text-pink-400 font-semibold">exploit development</span>.
        </p>
      </section>

      <p class="text-sm text-zinc-400 hover:text-lime-300 transition">
        <a href="mailto:kye@kyemurphy.com">kye@kyemurphy.com</a>
      </p>

      <!-- Socials -->
      <div class="flex gap-10 text-2xl text-zinc-400">
        <a href="https://github.com/kyealexander" class="hover:text-lime-300 transition"></a>
        <a href="https://www.linkedin.com/in/kyemurphy/" class="hover:text-lime-300 transition"></a>
        <a href="https://x.com/kyealexmurphy" class="hover:text-lime-300 transition"></a>
      </div>

      <!-- Footer -->
      <footer class="text-xs text-zinc-600 text-center leading-relaxed">
      <div class="opacity-80">© {new Date().getFullYear()} Kye Murphy</div>
      <div class="opacity-80">
        Built with 
        <a href="https://astro.build" target="_blank" class="underline hover:text-zinc-200">Astro</a> & 
        <a href="https://tailwindcss.com" target="_blank" class="underline hover:text-zinc-200">Tailwind CSS</a>
      </div>
      </footer>
    </div>
  </section>
</BaseLayout>