---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="flex flex-col items-center justify-center text-center w-full space-y-4 scale-[1.5]">
    <h1 class="text-3xl font-bold text-zinc-200">Placeholder</h1>

    <!-- Under Development badge -->
        <div class="mt-2 inline-flex items-center gap-2 rounded-full border border-zinc-700/40 bg-zinc-900/40 px-4 py-2 text-xs text-zinc-300">
          <span class="inline-block h-2 w-2 animate-pulse rounded-full bg-lime-300"></span>
          <span>This site is under active development.</span>
        </div>
  </section>
</BaseLayout>