---
import "../styles/global.css";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>Kye Murphy</title>
  </head>
  <body class=" text-white font-sans">
    <main class="min-h-screen flex flex-col items-center justify-center p-6">
    <div class="absolute top-1/3 left-1/2 -translate-x-1/2 w-[500px] h-[500px] bg-gradient-to-tr from-indigo-500/30 via-purple-500/30 to-pink-500/30 opacity-20 blur-[100px] rounded-full pointer-events-none z-0"></div>  
    <slot />
    </main>
  </body>
</html>