---
import "../styles/global.css";
import GridOverlay from "../components/GridOverlay.astro";
import GridTracer from "../components/GridTracer.astro";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>Kye Murphy</title>
  </head>
  <body class=" text-white font-sans">
    <main class="min-h-screen flex flex-col items-center justify-center p-6">
      <GridTracer /> 
      <!-- <GridOverlay /> -->
      <slot />
    </main>
  </body>
</html>