---
import "../styles/global.css";
import GridOverlay from "../components/GridOverlay.astro";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>Kye Murphy</title>
  </head>
  <body class=" text-white font-sans">
    <main class="min-h-screen flex flex-col items-center justify-center p-6">
      <div class="blob bg-indigo-500/10 blur-[120px] rounded-full pointer-events-none z-0"></div>
      <div class="blob bg-purple-500/10 blur-[120px] rounded-full pointer-events-none z-0"></div>
      <div class="blob bg-pink-500/10 blur-[120px] rounded-full pointer-events-none z-0"></div>
      <GridOverlay />
      <slot />
    </main>
    <!-- <script type="module" src="/js/blobs.js"></script> -->
  </body>
</html>